@import "~bootstrap/scss/bootstrap";
@import "./reset.scss";

/*
*   CSS TABLE OF CONTENTS
*
*   1. Variables and Mixins
*   2. Globals
      2.1 Globals - debug
      2.2 Globals - display
      2.3 Globals - border
*   5. Sections
*     5.1 first section
      5.2 section one
      5.3 section one
      5.4 section one
*/


/*** 1. Variables and Mixins ***/
$firstSectionTheme : #01060a;

@mixin setBorder($width, $type, $color, $direction: "") {
  border#{$direction}: $width $type $color;
}

@mixin setPadding($size, $direction: "") {
  padding#{$direction}: $size;
}

@mixin setMargin($size, $direction: "") {
  margin#{$direction}: $size;
}

@mixin flexProperty($direction, $justify, $align :flex-start) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin  selfFlexProperty($self) {
  align-self: $self;
}

@mixin  customScrollBar() {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f8f8f8;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  
}

@mixin customButtonProperties() {
  @include setBorder(3px, solid, white);
  background-color: $firstSectionTheme;
  &:hover {
    color: black;
    background-color: white;
  };
}

/*** 2. Globals ***/
/*** 2.1 Globals - debug ***/
.custom-border {
  @include setBorder(3px, dashed, red, '')
}

/*** 2.2 Globals - display ***/
.modal-content {
  @include setBorder(1px, solid, black);
  box-shadow: 2px 1px 10px rgb(92, 91, 91);
}

.h-100vh {
  height: 100vh;
}

.add-btn {
  @include customButtonProperties();
  @include setPadding(0);
  @include selfFlexProperty(center);
  background-color: $firstSectionTheme;
  border-radius: 50%;
  width: 65px;
  font-size: 40px;
}

.task-btn {
  @include customButtonProperties();
  color: white;
  font-size: 25px;
}

.subtasks-btn {
  font-size: 20px;
  border-width: 1px;
}

/*** 5. Sections ***/
body {
  @include customScrollBar()
}

/*** 5.1 first section ***/
.first-section {
  @include customScrollBar();
  @include setPadding(50px, -bottom);
  position: relative;
  background-color: $firstSectionTheme;
  overflow-y: auto;
  overflow-x: unset;
  h2, h3 {
    @include setBorder(3px, solid, white, '-bottom');
    text-align: center;
  };
  h3 {
    border: unset;
  }
}

.task-container {
  @include setBorder(1px, solid, white);
  @include setPadding(10px);
  border-top: unset;
}

/*** 5.1 second section ***/
.second-section {
  @include customScrollBar();
  @include setBorder(4px, solid, black);
  position: relative;
  box-shadow: 1px 1px 30px black inset;
  border-left: unset;
  overflow-y: auto;
}
.new-task-btn {
  position: absolute;
  bottom: 0;
  left: 40%;
  font-weight: 900;
}

.ss-nav-link {
  display: block;
  font-size: 20px;
  &:hover {
    transform: scale(1.08);  
  }
}